:root {
    --header-color: #f4f6fb;
    --primary-color: #040fff;
    --text-color: #373f41;
    --banner-small-text: #0b2865;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: "Mulish", sans-serif;
    color: var(--text-color);
}

.container-fluid {
    margin-left: 10%;
}

.navbar-brand {
    margin-right: 60%;
}

.nav-link {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--text-color);
}

.small-text {
    height: 3vh;
    background-color: var(--banner-small-text);
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-text p {
    margin: 0;
    text-align: center;
}

/* 
*   Degradê ao contrário caso precise
*
*   background: rgb(255,255,255);
*   background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(244,244,244,0) 63%, rgba(0,0,0,0.8995973389355743) 91%);
*/

.banner-img {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 39%,
            rgba(244, 244, 244, 0) 63%,
            rgba(0, 0, 0, 0.8995973389355743) 91%
        ),
        url(../images/banner.jpg);
}

.banner-img .main-text p {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5vh;
}

.banner-img .subtitle {
    display: flex;
    justify-content: space-evenly;
    margin: 0 25% 6vh;
    color: white;
}

.banner-img .subtitle .subtitle-block {
    display: flex;
    flex-direction: column;
    margin: 0px 12px;
    align-items: center;
}

.subtitle-block .subtitle-primary-text {
    font-weight: 700;
    font-size: 2.8rem;
}

.subtitle-block .subtitle-second-text {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 12vh;
}

.specification {
    display: flex;
    justify-content: center;
}

.specification-card {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-card {
    height: 3rem;
    margin-bottom: 5%;
}

.card-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2%;
    color: var(--text-color);
}

.card-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 18%;
}

@media only screen and (max-width: 1200px) {
    .navbar-brand {
        margin-right: 0;
    }
}

@media only screen and (max-width: 560px) {
    .small-text {
        height: 10vh;
    }
}
